@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || VARIABLES */
:root{
    /* COLOR */
    --BGCOLOR1: #780000 ;
    --BGCOLOR2: #c1121f ;
    --BGCOLOR3: #e5e5e5 ;
    --BGCOLOR4: #003049 ;
    --BGCOLOR5: #669bbc ;

    --FONTCOLOR1: #e5e5e5 ;
    --FONTCOLOR2: #e5e5e5 ;
    --FONTCOLOR3: #003049 ;
    --FONTCOLOR4: #e5e5e5 ;
    --FONTCOLOR5: #000000 ;



}

  /* || UTILITY CLASSES */
.nowrap {
    white-space: nowrap;
}

/* || GENERAL STYLES */
html{
    scroll-behavior: smooth;
}

body {
    font: 1.5rem "Roboto", sans-serif;
    min-height: 100vh;
  
    background-color: var(--BGCOLOR3);
    display: flex;
    flex-direction: column;
}

header, footer {
    text-align: center;
}

header {
    position: sticky;
    top: 0;
}

.logo {
    background-color: var(--BGCOLOR1);
    font-size: 3rem;
    color: var(--FONTCOLOR1);
}

nav {
    background-color: var(--BGCOLOR2);
    padding: 0.5rem;
    border-bottom: 2px solid #000;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
}

nav, a{
    color: var(--FONTCOLOR2);
    flex-shrink: 1;
    overflow: auto;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

.destacados {
    text-align: center;
    font-size: 2rem;
}

main .contenido {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
/*     width: min(100vw, 500px);
    height: min(100vw, 500px);; */
}

footer {
    background-color: var(--BGCOLOR4);
    color: var(--FONTCOLOR4);
    bottom: 0;
    display: flex;
    flex-flow: column wrap;
}

/* .mediosdepago>li>img {
    
} */